body
{
	position:relative;
	padding:0px ;
	margin:0px;
	overflow-X:hidden;
	overflow-Y:auto;
	-ms-overflow-style:none;
	-scroll-width:none;
	width:100%;
	color:rgba(var(--black-color),1);
	background:rgba(var(--white-color),1); 
	/*font-family:'Time New Roman',serif;
	font-family:'Arial',sans-serif;  
	font-family:'Verdana',sans-serif;
	font-family:'Tahoma',sans-serif;*/
}
@media only screen and (min-width:2000px)
{
	body
	{
		width:2000px;margin:auto;
		box-shadow:0px 0px 10px 2px rgba(var(--black-color),0.4);
	}
}
body::-webkit-scrollbar
{
	display:none;
	
} 

*
{
	box-sizing:border-box;
	padding:0px ;
	margin:0px;
	
}
#user_navigation_container
{
	 
	background:rgba(var(--white-color),1);
	z-index:10;
}
/*.nav_logo_img
{
	width:100px;
	height:40px; 
	 
}*/
.logo
{
	text-decoration:none;
	font-size:1.8rem;
	font-weight:bold; 
	font-style:italic;
	color:rgba(var(--black-color), 1);   
}



.navigation_link, .navigation_link2
{
	color:rgba(var(--black-color), 0.6);  
	font-weight:500; 	
	padding:0px;
	transition:all 0.5s; 
}
.navigation_link:hover
{
	color:rgba(var(--black-color), 1);
	  
} 
 
.navigation_link2:hover
{
	color:rgba(var(--black-color), 1);
	background:rgba(var(--black-color), 0.1);
	  
}  
.active_navigation_link
{
	 
	color:rgba(var(--red-color), 1); 
	 font-weight:600; 	
	
}
#navigation_link_profile
{
	padding:5px;
	background:rgba(var(--black-color),0.3);
	border-radius:50%;
	overflow:hidden;
	transition:all 0.5s ease;
}
.nav_profile_img
{
		width:35px;
		aspect-ratio:1/1;
		object-fit:cover;
		transition:all 0.5s ease;
}
#navigation_link_profile:hover .nav_profile_img
{
	transform:scale(1.5,1.5);
}

 
#navigation_link_login, #navigation_link_logout
{
	background:rgba(var(--black-color),0.3);
	color:rgba(var(--black-color),1);
	font-weight:bold;
}
#navigation_link_login:hover, #navigation_link_logout:hover
{
	background:rgba(var(--black-color),0.5);
}
.user_naviagtion_controll_btn:hover
{
	background:rgba(var(--black-color),0.2);
}

@media only screen and (min-width:0px) and (max-width:576px)
{
	.logo
	{
		font-size:1.2rem;
	}
	#navigation_link_profile
	{
		padding:2px;
		 
	}
	.nav_profile_img
	{
			width:30px;
			 
	}
	
}