.loader
{
	width:100%;
	height:auto;
	min-height:100vh;
	position:fixed;
	top:0px;
	z-index:4;
	background:rgba(0,0,0,0.8);
	 
	display:flex;
	justify-content:center;
	align-items:center;
	
}
.sub_loader
{
	width:200px;
	height:200px;
	position:relative;
}
.circle{
		width:200px;
		height:200px;
		border-radius:50%;
		border-left:6px solid #00f;
		border-top:6px solid transparent;
		animation:animate 2s linear infinite;
		position:absolute;
		top:0px;
		left:0px;
} 

.circle::before
{
		content:' ';
		position:absolute;
		width:20px;
		height:20px;
		top:15px;
		left:15px;
		border-radius:50%;
		background:#00f; 
}
@keyframes animate{
		0%{
				transform:rotate(0deg);
				filter:hue-rotate(0deg);
		}
		100%{
				transform:rotate(360deg);
				filter:hue-rotate(360deg);
		}
}

.circle-1{
		width:130px;
		height:130px;
		border-radius:50%;
		border-right:6px solid #f00;
		border-top:6px solid transparent;
		position:absolute;
		top:35px;
		left:35px;
		animation:animate1 2s linear infinite;
}

.circle-1::before
{
		content:' ';
		position:absolute;
		width:20px;
		height:20px;
		top:5px;
		right:5px;
		border-radius:50%;
		background:#f00; 
}
@keyframes animate1{
		0%{
				transform:rotate(0deg);
				filter:hue-rotate(0deg);
		}
		100%{
				transform:rotate(-360deg);
				filter:hue-rotate(-360deg);
		}
}
@media only screen and (max-width:500px) and (min-width:0px)
{
		
	.sub_loader
	{
		width:100px;
		height:100px;
		position:relative; 
	}
	.circle{
			width:100px;
			height:100px;
			border-radius:50%;
			border-left:4px solid #00f;
			border-top:4px solid transparent;
			animation:animate 2s linear infinite;
			position:absolute;
			top:0px;
			left:0px;
	} 

	.circle::before
	{
			content:' ';
			position:absolute;
			width:10px;
			height:10px;
			top:7px;
			left:7px;
			border-radius:50%;
			background:#00f; 
	}
	@keyframes animate{
			0%{
					transform:rotate(0deg);
					filter:hue-rotate(0deg);
			}
			100%{
					transform:rotate(360deg);
					filter:hue-rotate(360deg);
			}
	}

	.circle-1{
			width:60px;
			height:60px;
			border-radius:50%;
			border-right:4px solid #f00;
			border-top:4px solid transparent;
			position:absolute;
			top:20px;
			left:20px;
			animation:animate1 2s linear infinite;
	}

	.circle-1::before
	{
			content:' ';
			position:absolute;
			width:10px;
			height:10px;
			top:2px;
			right:2px;
			border-radius:50%;
			background:#f00; 
	}
	@keyframes animate1{
			0%{
					transform:rotate(0deg);
					filter:hue-rotate(0deg);
			}
			100%{
					transform:rotate(-360deg);
					filter:hue-rotate(-360deg);
			}
	}
}